body {
  font-family: Poppins;
  background: #272044;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 60px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background: #f8f8f8;
}

.text-center {
  text-align: center;
}

img {
  width: 100%;
  display: block;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../images/ninhbinh_temple.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 220px 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.2;
  letter-spacing: 3px;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 4px;
}

header a {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  background: white;
  color: black;
  letter-spacing: 3px;
  padding: 20px 30px;
  margin-top: 25px;
  border-radius: 5px;
  text-transform: uppercase;
}

main {
  background: white;
}

main h2 {
  font-weight: 700;

  font-size: 40px;
  line-height: 1.2;
  margin: 0;
}

main h3 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 0.4;
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
}

main h5 {
  font-weight: 700;
  font-style: Bold;
  font-size: 13px;
  line-height: 100%;
}

main p {
  opacity: 0.6;
  font-weight: 400;
  line-height: 1.5;
}

.card {
  background: white;
  margin: 30px 0;
}

.card-header.grid {
  grid-gap: 0;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}
.button {
  background-color: #57469b;
  color: white;
  font-size: 13px;
  letter-spacing: 3px;
  text-align: center;
  padding: 15px 40px;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  display: block;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(39, 32, 68, 0.8)),
    url("../images/vietnam_lanterns.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer p {
  opacity: 0.7;
}

footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 800px) {
  header {
    padding: 60px;
  }
  header h1 {
    font-size: 60px;
    line-height: 1.1;
  }
  header h2 {
    font-size: 30px;
  }
  header h3 {
    font-size: 18px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }
}
