body {
  font-family: Poppins;
  background: black;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../images/ninhbinh.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 220px 0;
  border-radius: 5px;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.2;
  letter-spacing: 3px;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 4px;
}

header a {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  background: white;
  color: black;
  letter-spacing: 3px;
  padding: 20px 30px;
  margin-top: 25px;
  border-radius: 5px;
  text-transform: uppercase;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(39, 32, 68, 0.8)),
    url("../images/vietnam_lanterns.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 20px;
}

footer p {
  opacity: 0.7;
  margin-right: 20px;
}

footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}
@media (max-width: 800px) {
  header {
    padding: 60px;
  }
  header h1 {
    font-size: 60px;
    line-height: 1.1;
  }
  header h2 {
    font-size: 30px;
  }
  header h3 {
    font-size: 18px;
  }
}
